{% extends "base_template.html"%}

{% block title %}
<title> Pé Confortável Ltda - Clientes </title>
{% endblock %}

{% block menu %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
    <div class="navbar-nav">
        <a href="{% url 'index' %}" class="nav-link">Início</a>
        <a href="{% url 'clientes:cadastro' %}" class="nav-link">Cadastrar</a>
        <a href="{% url 'clientes:listar' %}" class="nav-link">Listar</a>
    </div>
</div>
{% endblock %}

{% block titulo_pagina %}
{% endblock %}

{% block corpo %}
<div class="container">
    <form name="idFrmCadastrarClientes" action="{% url 'clientes:cadastro' %}" method="post">
        {% csrf_token %}

        <div>
            <p class="text-center fs-2 fw-bold">Cadastro Clientes</p>
        </div>

        <div class="form-group mb-3">
            <label for="idCpfClientes">CPF</label>
            <input class="form-control bg-light text-dark"
                   type="text"
                   id="idCpfClientes"
                   name="cpf"
                   maxlength="11"
                   required>
        </div>

        <div class="form-group mb-3">
            <label for="idNomeClientes">Nome do Cliente</label>
            <input class="form-control bg-light text-dark"
                   type="text"
                   id="idNomeClientes"
                   name="nome"
                   maxlength="70"
                   required>
        </div>

        <div class="form-group mb-3">
            <label for="idEndereco">Endereço</label>
            <input class="form-control bg-light text-dark"
                   type="text"
                   id="idEndereco"
                   name="endereco"
                   maxlength="100"
                   required>
        </div>

        <div class="form-group mb-3">
            <label for="idTelefone">Telefone</label>
            <input class="form-control bg-light text-dark"
                   type="text"
                   id="idTelefone"
                   name="telefone"
                   maxlength="11"
                   required>
        </div>

        <div class="form-group mb-3">
            <label for="idUf">UF</label>
            <select class="form-control" id="idUf" name="uf" required>
                <option value="">Selecione</option>
                <option value="RO">RO</option>
                <option value="RJ">RJ</option>
                <option value="SP">SP</option>
                <option value="DF">DF</option>
                <option value="PE">PE</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="idCidade">Cidade</label>
            <select class="form-control" id="idCidade" name="cidade" required>
                <option value="">Selecione</option>
                <option value="Rondônia">Porto Velho</option>
                <option value="Rio de Janeiro">Rio de Janeiro</option>
                <option value="São Paulo">São Paulo</option>
                <option value="Distrito Federal">Brasília</option>
                <option value="Pernambuco">Recife</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="idGenero">Gênero</label>
            <select class="form-control" id="idGenero" name="genero" required>
                <option value="">Selecione</option>
                <option value="F">Feminino</option>
                <option value="M">Masculino</option>
                <option value="O">Outro</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="idContato">Contato</label>
            <input class="form-control bg-light text-dark"
                   type="text"
                   id="idContato"
                   name="contato"
                   maxlength="100"
                   required>
        </div>

        <div class="form-group mb-3">
            <label for="idEmail">E-mail</label>
            <input class="form-control bg-light text-dark"
                   type="email"
                   id="idEmail"
                   name="email"
                   maxlength="100"
                   required>
        </div>

        <div class="form-group mb-3">
            <label for="idSenha">Senha</label>
            <input class="form-control bg-light text-dark"
                   type="password"
                   id="idSenha"
                   name="senha"
                   maxlength="256"
                   required>
        </div>

        <div class="form-group my-4 text-center">
            <input type="reset" value="Limpar" class="btn table-bege btn-md">
            <input type="submit" value="Cadastrar" class="btn table-bege btn-md">
        </div>

    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}