{% extends "base_template.html" %}

{% block title %}
<title>Pé Confortável Ltda - Cadastro de Fabricantes</title>
{% endblock %}

{% block menu %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
    <div class="navbar-nav">
        <a href="{% url 'index' %}" class="nav-link">Início</a>
        <a href="{% url 'fabricantes:cadastro' %}" class="nav-link">Cadastrar</a>
        <a href="{% url 'fabricantes:listar' %}" class="nav-link">Listar</a>
    </div>
</div>
{% endblock %}

{% block corpo %}

<div class="container mt-4">

    <h2 class="text-center mb-4">
        Cadastro de Fabricante
    </h2>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            {{ form.nome.label_tag }}

            {{ form.nome }}

            {% if form.nome.errors %}
                <div class="text-danger">
                    {{ form.nome.errors }}
                </div>
            {% endif %}
        </div>


        <div class="text-center mt-4">

            <button type="reset" class="btn table-bege btn-md">
                Limpar
            </button>

            <button type="submit" class="btn table-bege btn-md">
                Salvar
            </button>

        </div>

    </form>

</div>

{% endblock %}

{% block footer %}
{% endblock %}