{% extends "base_template.html" %}

{% block title %}
    <title>Pé Confortável Ltda - Listar Fabricantes</title>
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="{% url 'index' %}" class="nav-link">Início</a>
            <a href="{% url 'fabricantes:cadastro'%}" class="nav-link">Cadastrar</a>
            <a href="{% url 'fabricantes:listar'%}" class="nav-link">Listar</a>
        </div>
    </div>
{% endblock %}

{% block titulo_pagina %}
{% endblock %}

{% block corpo %}
<main class="container mt-4">

    <div class="row">
        <div class="col text-center">
            <h2 class="mb-4">Lista de Fabricantes</h2>
        </div>
    </div>

    <div class="table-responsive">

        <table class="table table-hover table-bordered text-center">

            <thead class="table-bege">
                <tr>
                    <th>Código</th>
                    <th>Nome do Fabricante</th>
                </tr>
            </thead>

            <tbody>
                <tr><td>1</td><td>Adidão</td></tr>
                <tr><td>2</td><td>Naike</td></tr>
                <tr><td>3</td><td>Pulma</td></tr>
                <tr><td>4</td><td>Olímpicos</td></tr>
                <tr><td>5</td><td>Pontão</td></tr>
                <tr><td>6</td><td>Meião</td></tr>
                <tr><td>7</td><td>Reboco</td></tr>
                <tr><td>8</td><td>Paquetás</td></tr>
                <tr><td>9</td><td>Mizduno</td></tr>
                <tr><td>10</td><td>Tiadora</td></tr>
            </tbody>
        </table>

    </div>

</main>

{% endblock %}

 {% block footer %}
 {% endblock %}